<html>
  <head>
    <title><%=title %></title>
  </head>
  <body>
     <div id="home">
    <h1>Welcome &#128525</h1>
    <div id="home-btns">
    <button ><a href="/user/signin">Login</a></button>
    <button><a href="/user/signup">create account</a></button>
     </div>
     </div>
  </body>
</html>