<html>
  <head>
    <title><%=title %></title>
  </head>
  <body>
    <h1>Welcome</h1>
    <button ><a href="/user/signin">Login</a></button>
    <button><a href="/user/signup">create account</a></button>
  </body>
</html>