<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4">
      <h2 class="text-center mb-4">Update Password</h2>
      <form method="post" action="/user/reset/update">
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" class="form-control" id="newPassword" name="newPassword" >
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" >
        </div>
        <div class="text-center" style="margin-top:5%;">
          <button type="submit" class="btn btn-outline-primary">Update Password</button>
        </div>
      </form>
    </div>
  </div>


