
<div class="container signin border border-1 ">
    <h3 style="text-align: center;"><%= page %></h3>
    <div class="form-group d-flex-column justify-content-center">
     <form method="post" action="/user/passwordReset">
      <label for="eamillabel">Email address</label>
      <input type="email" name="email" class="form-control w-75"  id="emaillabel"> 
      <small class="form text text-muted">please make sure you entered valid email address</small>
      <hr>
      <button class="btn btn-outline-success">Reset</button>
      <br>
       <small class="form-text text-muted">please check your inbox find reset link</small>
  </form>
 
    </div>
 </div>
