<div class="container signin border border-1 ">
    <h3 style="text-align: center;">Sign Up</h3>
    <div class="form-group d-flex justify-content-center">
     <form method="post" action="/user/create">
      <label for="eamillabel">Email address</label>
      <input type="email" name="email" class="form-control w-75"  id="emaillabel"> 
      <small class="form-text text-muted">we'll never share your email with anyone else</small> 
      <br>  
      <label for="password" class="form-label ">Password</label>
      <input type="password" class="form-control w-75" id="password" name="password" required>
      <small class="form-text text-muted password-requirements">
        Password must meet requirements:ABc124%#@
      </small>   
      <br>
      <label for="Cpassword" class="form-label ">Confirm Password</label>
      <input type="password" class="form-control w-75" id="Cpassword" name="Cpassword"  required>
      <br>
    <button class="btn btn-outline-success">Create New</button>
    <div class="container">
      <samll>
        signup  with google<button class="m-2 btn btn-outline-primary">Google</button>
      </samll>
    </div>
    
  </form>
  
    </div>
 </div>