<div class="container signin border border-1">
  <h3 style="text-align: center;">Sign In</h3>
  <div class="form-group d-flex-column justify-content-center">
    <form method="post" action="/user/create-session">
      <label for="emailLabel">Email address</label>
      <input type="email" name="email" class="form-control w-75" required id="emailLabel">
      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
      <br>
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control w-75" id="password" name="password" required>

      <button class="btn mt-2 btn-outline-success" type="submit">LOGIN</button>
    </form>

    <div class="container mt-2">
      Or
    </div>
    
    <div class="container" style="margin-top: 10px">
      <small class="form-text">Sign in with Google:</small>
      <button style="margin-left: 10%;" class="btn btn-outline-warning">Google</button>
    </div>

    <div class="container mt-4">
      <h6>If you are a new user: <a href="/signup"><button class="m-3 btn btn-outline-success">Create New</button></a></h6>
    </div>
  </div>
</div>
